body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
.container{
    max-width: 500px;
    margin: auto;
}
form input{
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
}
button{
    padding: 10px;
    width: 100;
    cursor: pointer;
}